@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue
    /* background-image: url('https://source.unsplash.com/weekly?anime'); */
}

.container{
    background: #000000d0;
    color: #eee;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search{
    margin-top: 30px;
    width: 60px;
}

.content{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
    margin-top: 20px;
}
.disc{
    margin-top: 20px;
    font-size: 1.3rem;
}
.rating{
    margin-top: 20px;
    font-size: 1.5rem;
    border: solid green 5px ;
    background-color: green;
    border-radius: 10px;
}

.anime{
    width:13rem;
}

.name{
    font-size: 1.5rem;
}
